In [4]:
import pandas as pd

In [17]:
df = pd.DataFrame({
    "a": [1, 2, 3],
    "b": [4, 5, 6],
    "c": [7, 8, 9]
},
index=[1, 2, 3])

In [19]:
df[["a", "b"]]

   a  b
1  1  4
2  2  5
3  3  6

In [22]:
df.loc[3, "a"]

3

In [24]:
df.dtypes

a    int64
b    int64
c    int64
dtype: object