In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn

In [45]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [35]:
iris = load_iris()

In [36]:
iris_data = iris.data

In [37]:
iris_label = iris.target

In [38]:
iris_df = pd.DataFrame(data=iris_data, columns=iris.feature_names)

In [39]:
iris_df['label'] = iris.target

In [40]:
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [41]:
x_train, x_test, y_train, y_test = train_test_split(iris_data, iris_label, test_size=0.2, random_state=11)

In [43]:
dt_clf = DecisionTreeClassifier(random_state=11)