In [36]:
import pandas as pd

In [37]:
df = pd.DataFrame(
    [[1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]],
index=[1, 2, 3],
columns=["3", "4", "5"])

In [38]:
df

   3  4  5
1  1  2  3
2  4  5  6
3  7  8  9

In [43]:
df.dtypes

3    int64
4    int64
5    int64
dtype: object

In [46]:
pd.DataFrame(df)

   3  4  5
1  1  2  3
2  4  5  6
3  7  8  9

In [51]:
temp = [[1, 2, 3]]

In [55]:
pd.DataFrame(data = temp, index = [1, 2, 3], columns=[3, 4, 5])

   3  4  5
1  1  2  3
2  1  2  3
3  1  2  3

In [62]:
df = pd.DataFrame(
    data = {
    "a": [1, 2, 3],
    "b": [4, 5, 6],
    "c": [7, 8, 9]
    },
    index = [1, 2, 3],
)

In [63]:
df

   a  b  c
1  1  4  7
2  2  5  8
3  3  6  9

In [71]:
df = pd.DataFrame(
    data=[[1, 2, 3]], 
    index=[1], 
    columns=["a", "b", "c"]
)

In [72]:
df

   a  b  c
1  1  2  3

In [73]:
import numpy as np

In [ ]:
np.